* {
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  place-items: start;
}

.statement,
.constraints,
.form,
.result {
  margin: 1rem;
}

@media screen and (min-width: 1024px) {
  
  .root {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  
  .statement {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .constraints {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  
  .form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .result {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}